<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodfriends.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Activities.DetallesPedidoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HistorialActivity"
            android:exported="false" />

        <receiver
            android:name=".Utilidades.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.foodfriends.ACCION_NOTIFICACION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Utilidades.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ProductoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CatalogoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MasVendidosActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CarritoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AcercaDeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.RegisterActivity" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:noHistory="true" />
        <activity
            android:name=".Activities.InicioActivity"
            android:noHistory="true" />
    </application>

</manifest>